  
  .gallery h2{
      font-size: 3rem;
      font-family: 'Permanent Marker', cursive;
      text-transform: uppercase;
  }
  .team_cards{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
    background-size: 100% 1.2em;
    align-items: center;
    padding: 5rem;
    margin: auto;    
}

.gallery .cards{
    min-height: 5.75rem;
    width: 28rem;
    background-color: white;
    /* border-radius: 0.625rem; */
    box-shadow: 0 8px 30px rgba(0,0,0,.3);
    display: flex;
    flex-flow: column;
    justify-content:space-evenly;
    margin: 2rem;
}
.gallery h3{
    font-family: 'Bubblegum Sans', cursive;
    color:black;
    margin: 2rem auto 0;
    justify-content: center;
    font-size:2.5rem;
    font-weight: 600;
}

.gallery .cards h4{
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}

.gallery p {
    font-size: 1.5rem;
}



.gallery img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    border: 5px solid #d4a218;
    margin: 2rem auto;
    transform: none;
}

.gallery a{
    margin: auto;
    margin-bottom: 1rem;
    color: #0d0046;
    text-decoration: none;
}



a:visited {
    color: #916b05;
  }

  footer nav a:visited{
    color: #0d0046;
  }

  /* Media queries */
@media (max-width: 500px){
    .gallery  .team_cards{
        display: flex;
        flex-direction: column;
        width: 80%;
}
.gallery .cards{
    width: 100%;
}
}