/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------------> Add CSS styling here */

*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato';
    margin: auto;
  }
body{
    background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
    
}

/* -----------------------> Navigation style */
.top_content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: rgb(13, 0, 70);
}

.top_content h1{
    font-family: 'Permanent Marker', cursive;
    color:#d4a218;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.15rem;
    line-height: 1;
    text-shadow: #ffffff 0.1875rem 0.125rem 0;
    position: relative;
    margin: 2rem;
}

.top_content nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.top_content nav .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 40rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 20rem;
    margin: 1rem;
  }
  .top_content nav .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .top_content nav  .effect01 {
    color: #FFF;
    border: 4px solid #0d0046;
    box-shadow:0px 0px 0px 1px #0d0046 inset;
    background-color: #0d0046;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .top_content nav .effect01:hover {
    border: 4px solid #0d0046;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #EEE inset;
  }
  
  /*btn_text*/
  .top_content nav .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .top_content nav .effect01:hover span{
    letter-spacing: 0.13em;
    color: #0d0046;
  }
  
  /*highlight*/
  .top_content nav .effect01:after {
    background: #FFF;
    border: 0px solid #0d0046;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .top_content nav .effect01:hover:after {
    background: #FFF;
    border: 20px solid #0d0046;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }





/* ------------------> Buttons */
.register_button {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    
  }

.top_content .nav_button{
    display: none;
}
  
  
  
  
.register_button .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 40rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 30rem;
    margin: 1rem;
  }
  .register_button .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .register_button  .effect01 {
    color: #FFF;
    border: 4px solid #0d0046;
    box-shadow:0px 0px 0px 1px #0d0046 inset;
    background-color: #0d0046;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .register_button .effect01:hover {
    border: 4px solid #0d0046;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #EEE inset;
  }
  
  /*btn_text*/
  .register_button .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .register_button .effect01:hover span{
    letter-spacing: 0.13em;
    color: #0d0046;
  }
  
  /*highlight*/
  .register_button .effect01:after {
    background: #FFF;
    border: 0px solid #0d0046;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .register_button .effect01:hover:after {
    background: #FFF;
    border: 20px solid #0d0046;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
/* -----------------------> Main content */

.main_content{
    position: relative;
    text-align: center;
}
.main_content img{

    width: 100%;
    height: 80vh;
    margin: 0 auto;
    opacity: .8;
}

.main_content h2{
  font-family: 'Permanent Marker', cursive;
  color:#0d0445;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 9.375rem;
  font-weight: 800;
  letter-spacing: -0.1875rem;
  line-height: 1;
  text-shadow: #d4a218 0.1875rem 0.125rem 0;
  position: relative;
}

.main_content p{
    font-family: 'Bubblegum Sans', cursive;
    margin: 3.5rem 0;
    color: #414141;
    text-align: center;
    font-size: 2.6rem;
    line-height: 2.5rem;
    text-shadow: #d4a218 0.0625rem 0.0313rem 0;

    /* font-size: 1.5rem; */

}

.main_content h2, .main_content p  {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -150%);
  }




/* -----------------------> Read more section*/

.read_more{
    display: flex;
    flex-direction: column;
}

.read_more hr{
    width: 100%;
   border: rgb(192, 192, 192) solid .01rem; 
}
.read_more .outer_div{
    width: 70%;
    margin: 3rem auto;
    display: flex;
    background-color: rgb(13, 0, 70);
    border-radius: 5rem;
    color: whitesmoke;
    
}

.read_more .insider_div{
    margin: 5rem auto;
    width: 400px;
    /* background-color: rgba(252, 252, 252, 0.562); */
    
}

.read_more h2 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.read_more .insider_div2 h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.read_more .insider_div4 h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.read_more p{
    font-size: 1.3rem;
    margin: 1rem;
    text-align: left;
    font-weight: normal;
    line-height: 2rem;
   
    
}

.read_more .insider_div2 p {
    font-size: 1.3rem;
    margin: 1rem;
    text-align: left;

}

.read_more .insider_div{
    align-self: center;
}

.read_more img {
    width: 300px;
    height: auto;
    margin: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(255, 251, 251, 0.19);
}

/* -----------------------> gallery */

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(90deg, #132075 0%, #ff922d 100%);
    align-items: center;
    padding: 5rem;    
}

.gallery .cards{
    min-height: 18.75rem;
    width: 22rem;
    background-color: white;
    /* border-radius: 0.625rem; */
    box-shadow: 0 8px 30px rgba(0,0,0,.3);
    display: flex;
    flex-flow: column;
    justify-content:space-evenly;
}

.gallery h3{
    font-family: 'Bubblegum Sans', cursive;
    color:black;
    margin: 2rem auto 0;
    justify-content: center;
    font-size:1.8rem;
    font-weight: 600;
}

.gallery p{
    padding: 2.2em;
    line-height: 1.7em;
    position: relative;
    font-size: 1.125rem;
}
.gallery img {
    background-color:tomato;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 5px solid white;
    top: -50%;
    left: 50%;
    transform: translateX(20%);
    display:flex;
    justify-content:center;
}

.footer_card {
    background: linear-gradient(90deg, #1a2B96 0%, #e0b90c 100%);
    background-image: url('../pics/paris.jpg');
    background-size: cover;
    height: 17rem;
    padding: 1rem 0;

    
  }

  .footer_card2 {
    background: linear-gradient(90deg, #1a2B96 0%, #e69122 100%);
    background-image: url('../pics/amsterdam.jpg');
    background-size: cover;
    height: 17rem;
    padding: 1rem 0;

    
  }

  .footer_card3 {
    background-image: url('../pics/sydney.jpg');
    background-size: cover;
    height: 17rem;
    padding: 1rem 0;

    
  }

  


/* -----------------------> Footer */

footer {
  
    background-color: whitesmoke;
    align-items: center;
    margin-bottom: 0;
    color: black;
}

footer nav {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: black;
}



footer nav a{
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem;
    color: black;
    padding: .5rem;
    font-size: 1.2rem;;
    
    justify-content: space-around;

}


footer p{
    color: black;
    text-align: center;
    padding-bottom: .5rem;
}


/* Media queries */
@media (max-width: 800px){
    .top_content{
        justify-content: space-around;
    }
    .top_content h1{
        display: none;
    }
    .top_content nav{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }
    

    .main_content p{
        line-height: 3rem;
        width: 80%;
    }
    .gallery {
     
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background: linear-gradient(90deg, #132075 0%, #ff922d 100%);
            align-items: center;
            padding: 5rem;   
    }
    .gallery .cards{
        min-height: 18.75rem;
        width: 90%;
        background-color: white;
        /* border-radius: 0.625rem; */
        box-shadow: 0 8px 30px rgba(0,0,0,.3);
        display: flex;
        flex-flow: column;
        justify-content:space-evenly;
        margin: 1rem auto;
        border-bottom: 1rem solid white;
    }

    .read_more .outer_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .read_more .read_more_image{
        order: 2;
        margin: 0;
    }
    .read_more p{
        margin: 0;
    }
}

@media (max-width: 500px){

    .top_content{
        justify-content: space-around;
    }
    .top_content h1{
        display: none;
    }
    .top_content nav{
        display: none;
        flex-flow: column;
        margin: 1rem;
        justify-content: center;
        align-items: center;

    }
    .top_content .nav_button{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
      
      
      
      
    .nav_button .btn {
        letter-spacing: 0.1em;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 45px;
        max-width: 40rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        width: 30rem;
        margin: 1rem;
      }
      .nav_button  .btn:hover {
        text-decoration: none;
      }
      
      /*btn_background*/
      .nav_button .effect01 {
        color: #FFF;
        border: 4px solid #0d0046;
        box-shadow:0px 0px 0px 1px #0d0046 inset;
        background-color: #0d0046;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-in-out;
      }
      .nav_button .effect01:hover {
        border: 4px solid #0d0046;
        background-color: #FFF;
        box-shadow:0px 0px 0px 4px #EEE inset;
      }
      
      /*btn_text*/
      .nav_button  .effect01 span {
        transition: all 0.2s ease-out;
        z-index: 2;
      }
      .nav_button .effect01:hover span{
        letter-spacing: 0.13em;
        color: #0d0046;
      }
      
      /*highlight*/
      .nav_button .effect01:after {
        background: #FFF;
        border: 0px solid #0d0046;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .8;
        position: absolute;
        top: -50px;
        -webkit-transform: rotate(35deg);
                transform: rotate(35deg);
        width: 50px;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
        z-index: 1;
      }
      .nav_button .effect01:hover:after {
        background: #FFF;
        border: 20px solid #0d0046;
        opacity: 0;
        left: 120%;
        -webkit-transform: rotate(40deg);
                transform: rotate(40deg);
      }

    

    .main_content h2, .main_content p  {
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 10%);
      }
    .main_content img{
        display: none;
    }

    .read_more .outer_div{
        background: none;
        color: rgb(13, 0, 70);
    }

    .read_more .insider_div{
        width: 80%;
        justify-content: center;
        text-align: center;
    }

}